[mysqld]
datadir=/var/lib/mysql
#innodb_data_home_dir=/mysqltmp
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max-allowed-packet=1G
max-connections=300
transaction-isolation=READ-COMMITTED
tmpdir=/mysqltmp

# Character sets
default-character-set=utf8
character-set-server=utf8
collation-server=utf8_unicode_ci

lower-case-table-names=1
skip-external-locking

# INNODB Optons
# We require one file per table
# innodb_file_per_table

# MySQL Query Cache
query_cache_type=1
skip-name-resolve

# Set buffer pool to 80% of systems memory
#innodb_buffer_pool_size=2560M
#innodb_additional_mem_pool_size=256M
innodb_stats_on_metadata=0

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set=utf8
max-allowed-packet=1G

